.btn {
  @apply inline-block text-lg rounded-[75px]  py-2 px-6 font-semibold capitalize transition;
}

.btn-sm {
  @apply rounded-[55px] px-8 py-3 text-sm font-[500px]  ;
}

.btn-primary {
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 25.6px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  background-image: radial-gradient(at bottom center, #72BE44 0%, #7DC657 100%);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px 20px;
  @apply inline-block transition-all border-none outline-none cursor-pointer;

  &:hover, &:focus {
    background-color: transparent;
    color: #000000;
    background-image: linear-gradient(180deg, #FFFF00 0%, #FFFF00 100%);
    box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.6);
  }
}

.btn-outline-primary {
  @apply bg-transparent font-bold uppercase tracking-widest text-white border-2 border-white px-8 py-4 rounded-xl transition-all hover:bg-white hover:text-primary;
}
